@import "tailwindcss";

@theme {
  --color-primary: #1423A5;
  --color-secondary: #B0008F;
  --color-dark: #171717;
  --color-light-gray: #F5F6FA;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
